<div class="form-group">
	<label >{{etiqueta}} <span class="required" *ngIf="requerido"></span> </label>
	<input class="form-control" [type]="type" #input (input)="onChange($event.target.value)" (blur)="onTouched()"[disabled]="disabled" [placeholder]="placeholder">
	<div>
		<span *ngIf="(requerido && controlDir && controlDir.control.valid && controlDir.control.touched) || !requerido && input.value.length>0"></span>
		<span style="color:#FF0000" *ngIf="controlDir && !controlDir.control.valid && controlDir.control.touched">{{error}}</span>
	</div>
</div>